*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 300vh;

    display: grid;
    grid-template-rows: 2.5% 1.5% 30% auto 30% 5%;
    grid-template-areas: 
        "header"
        "menu"
        "section1"
        "section2"
        "section3"
        "footer"
}


.header{

    display: flex;
    grid-area: header;
    background: #fee1a1;
    justify-content: center;
    padding: 0px;
    
    
}

#header1{
    font-size: 35px;
    font-family: sans-serif;
    color: white;
    padding-top: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#giraff_logga{
    padding: 3px;
}

.menu{

    grid-area: menu;
    background: #baad9f ;
    display: flex;
    justify-content:space-around;
}

 .menu a{
    font-weight:bold;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 12px;
} 

.menu a:hover{
    background-color: gray;
    color: white;
}


#section_1{

    text-align: center;
    font: caption;
    color: white;
    grid-area: section1;
    background: #68b6ef;
    padding: 22%;
}

#giraff_bild_1{
    margin: -1000px;
    padding-bottom: 33.15%;
}

#section_2{

    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    color: #6a2f1b;
    grid-area: section2;
    background: whitesmoke;
    padding: 22%;
    order: 0;
}

#section_2 p{
    color: #411d11;
    font-size: smaller;
    margin: 10px;
    padding-top: 30px;
    font-weight: lighter
}

.image_container{
    grid-area: section2;
    order: 1;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#giraff_bakround_art{
    order: 2;
    margin: 0px;
    padding: 0px;
}
#section_3{

    text-align: center;
    font: caption;
    color: white;
    grid-area: section3;
    background: #f68c70;
    padding: 22%;
}

.footer{
    text-align: center;
    font: caption;
    color: white;
    grid-area: footer;
    background: lightsalmon;
    padding: 3%;
}