.container{
    display: grid;
    grid-template-areas: "header" "nav" "section";
}

.header{
    background-color: rgb(255, 203, 140);
    grid-area: header;
}

.nav_menu{
    background-color: aquamarine;
    grid-area: nav;
}

.first_section{
    background-color: grey;
    grid-area: section;
   
    
    
}